.row {
    position: relative;
}

button.btn.btn-primary#export {
    position: absolute;
    line-height: 1;
    right: 0;
}

div#pagination {
    width: 30%
}

div#export-invoices {
    width: 70%;
    position: relative;
}

div.arrow#popover-export {
    bottom: -9px;
    left: 55px;
}

div#popover226302.popover.fade.show.bs-popover-top {
    right: 0;
    top: -93px;
    max-width: 139px;
    left: unset;
    display: none;
}

form#invoice {
    position: relative;
}

div#euro {
    position: absolute;
    right: -14px;
    top: 41px;
}

button#export.btn.btn-primary:hover div#popover226302.popover.fade.show.bs-popover-top {
    opacity: 1;
}


@media(max-width:575px) {
    div#popover226302.popover.fade.show.bs-popover-top {
        right: 16px;
        top: -93px;
        max-width: 123px;
    }
    div.arrow#popover-export {
        left: 45px;
    }
    div#pagination {
        width: 100%;
    }
    div#export-invoices {
        width: 100%;
    }
}

